
<div class="container content">
	<div class="row">
		<!-- Pricing -->
		<div class="col-md-3">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>{{ "worker" | translate }}<span>
					{{ "package-info-worker" | translate }} </span>
					</h3>
					<h4><i>€ </i>0<i>.0</i>
					<span id="hide">
					{{ "payment" | translate }}</span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						{{ "li-work" | translate }}
					</li>
					
				</ul>
				<div class="pricing-footer">
					<p>
						 {{ "payment" | translate }}
					</p>
					<a href="javascript:;" class="btn dugme" [routerLink]="['/register']">
					{{ "register" | translate }}
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>{{ "membership-basic" | translate }}<span>
					{{ "package-info-basic" | translate }} </span>
					</h3>
					<h4><i>€</i>99<i>.99</i>
					<span>
					{{ "payment" | translate }}</span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						{{ "li-basic" | translate }}
					</li>
					
				</ul>
				<div class="pricing-footer">
					<p>
						 {{ "payment" | translate }}
					</p>
					<a href="javascript:;" class="btn dugme" [routerLink]="['/register']">
					{{ "register" | translate }}
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing pricing-active hover-effect">
				<div class="pricing-head pricing-head-active">
					<h3>{{ "membership-standard" | translate }}<span>
					{{ "package-info-standard" | translate }} </span>
					</h3>
					<h4><i>€</i>299<i>.99</i>
					<span>
					{{ "payment" | translate }}</span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						{{ "li-standard" | translate }}
					</li>
					
				</ul>
				<div class="pricing-footer">
					<p>
						 {{ "payment" | translate }}
					</p>
					<a href="javascript:;" class="btn dugme" [routerLink]="['/register']">
					{{ "register" | translate }}
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>{{ "membership-premium" | translate }}<span>
					{{ "package-info-premium" | translate }} </span>
					</h3>
					<h4><i>€</i>599<i>.99</i>
					<span>
					{{ "payment" | translate }}</span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						{{ "li-premium" | translate }}
					</li>
					
				</ul>
				<div class="pricing-footer">
					<p>
						 {{ "payment" | translate }}
					</p>
					<a href="javascript:;" class="btn dugme" [routerLink]="['/register']">
					{{ "register" | translate }}
					</a>
				</div>
			</div>
		</div>
		<!--//End Pricing -->
	</div>
</div>