<section class="col-lg-12 connectedSortable info">
  <div class="box  box-success no-padding">
    <div class="box-header with-border">
      <h3 class="box-title">{{ "indexPlan1" | translate }}</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <!--button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button-->
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="row" margin="0" style="height:325px;">
        <div class="col-md-12 col-sm-12 mapa">
          <div class="pad">
            <!-- Map will be created here -->
            <div id="mapWidget" style="height: 440px;"></div>
          </div>
        </div>
        <!-- /.col -->
        <!--
        <div class="col-md-3 col-sm-4">
          <div class="pad box-pane-right" style="min-height: 350px;">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="fa fa-leaf"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{"plantage" | translate}}</span>
                <span class="info-box-number" *ngIf="plantages">{{plantages.length}}</span>
              </div>
            </div>
            <div class="info-box">
              <span class="info-box-icon bg-blue"><i class="fa fa-tint"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ "indexPlan2" | translate }}</span>
                <span class="info-box-number">0</span>
              </div>
            </div>
            <div class="info-box">
              <span class="info-box-icon bg-red"><i class="fa fa-flask  "></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ "indexPlan3" | translate }}</span>
                <span class="info-box-number">0</span>
              </div>
            </div>
            <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="fa fa-truck  "></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ "indexPlan4" | translate }}</span>
                <span class="info-box-number">0</span>
              </div>
            </div>
          </div>
        </div>-->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
  </div>
</section>