.user-header {
    cursor: pointer;
}
.list-group-item {
    cursor: pointer;
    border: none;
    background-color: #FAFAFA;
}

.list-group-item:hover {
    /*background-color: #3F51B5;*/
    background-color: #00A65A;  
    color: white;
    border: 0;
}

#lang {
    padding: 0;
}

.mess {
    min-width: 281px;
}

.seen {
    color: #E65100;
}

.globe {
    height: 50px;
    width: 50px;
    padding: 13px 15px 13px 15px;
    
}

@media only screen and (max-width: 414px) {
    .globe {
        padding: 13px 15px 13px 15px;
    }
}
/*
.mynav {
    border: none;
    border-radius: 0;
}

.dropdown-menu {
    padding: 0;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #4CAF50;
    color: white;
    border: 0;
}

.badge-notify{
   background:#ff6666;
   font-size: 8pt;
   padding:2px 5px;
   position:relative;
   top: -10px;
   left: -5px;
}
*/