<section class="content">



  <div style="position: relative; margin-left: 5px; margin-top:5px;">
    <div id="loadingMsg" *ngIf='days.length==0' style="padding-top: 50px; position: absolute; background-color: white; top: -20px; left: -20px; width: 110%; height: 110%; z-index: 1000;">

      <h2 style="text-align: center; font-weight: bold; color: rgba(0,166,90,1);">{{ "loading" | translate }}...</h2>
      <div class="loader" style="margin: auto; width: 60px;">
        <div class="loader-inner line-scale">
          <div style="background-color: rgba(0,166,90,1);"></div>
          <div style="background-color: rgba(0,166,90,1);"></div>
          <div style="background-color: rgba(0,166,90,1);"></div>
          <div style="background-color: rgba(0,166,90,1);"></div>
          <div style="background-color: rgba(0,166,90,1);"></div>
        </div>
      </div>
    </div>


    <div class="row">


      <div class='col-md-12'>
        <div class="container">

          <div class='row'>
            <div class="col-sm-12 ">

              <tabset (onSelect)="showTemp($event)">

                <tab title=" {{ 'Precip probability' | translate}} ">
                  <div class='row'>
                    <div class="col-md-4 ">
                      <!-- Widget: user widget style 1 -->
                      <div class="box box-widget widget-user-2 ">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header ">
                          <div class="widget-user-image ">
                            <img class="img-circle " [src]="precipImage ">
                          </div>
                          <!-- /.widget-user-image -->
                          <h3 class="widget-user-username ">{{precip}} %</h3>
                          <h5 class="widget-user-desc text-gray ">{{'currently'|translate}}</h5>
                        </div>

                      </div>
                      <!-- /.widget-user -->
                    </div>
                  </div>
                  <!-- Sales Chart Canvas -->

                  <!--  <svg style='height:250px'></svg>-->
                  <div id="myDiv1" style="width: 100%; height:250px "></div>




                </tab>
                <tab title="{{ 'Temperature' | translate}} ">
                  <div class='row'>
                    <div class="col-md-4 ">
                      <!-- Widget: user widget style 1 -->
                      <div class="box box-widget widget-user-2 " style="margin-left: 10% ">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header ">
                          <div class="widget-user-image ">
                            <img class="img-circle " [src]="todayIcon ">
                          </div>
                          <!-- /.widget-user-image -->
                          <h3 class="widget-user-username ">{{currentTemp}}&deg;C</h3>
                          <h5 class="widget-user-desc text-gray ">{{'currently'|translate}}</h5>
                        </div>

                      </div>
                      <!-- /.widget-user -->
                    </div>
                  </div>

                  <div id="myDiv" style="width:100%; height:250px "></div>


                </tab>

                <tab title="{{'wind'|translate}}">

                  <div class='row'>
                    <div class="col-md-4 ">
                      <!-- Widget: user widget style 1 -->
                      <div class="box box-widget widget-user-2 " style="margin-left: 10% ">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header ">
                          <div class="widget-user-image ">
                            <img class="img-circle " [src]="imageWindCurrent ">
                          </div>
                          <!-- /.widget-user-image -->
                          <h3 class="widget-user-username ">{{'wind'|translate}} km/h</h3>
                          <h5 class="widget-user-desc text-gray ">{{'currently'|translate}}</h5>
                        </div>

                      </div>
                      <!-- /.widget-user -->
                    </div>
                  </div>
                  <div class="row " style="height: 230px ">
                    <div class="col-md-1 border-right " *ngFor='let w of wind'>
                      <div class="description-block border-right ">
                        <span class="description-percentage text-grey1 ">{{w.speed}}</span>
                        <h5 class="description-header "><img [src]='w.image' style="width: 30px "></h5>
                        <span class="description-text ">{{w.time}}</span>
                      </div>
                      <!-- /.description-block -->
                    </div>

                  </div>
                  <!-- /.row -->
                </tab>

                <tab title="{{ 'nextDays' | translate}} ">
                  <!-- TABLE: LATEST ORDERS -->
                  <div class="box box-info " style="border-top:none; height: 300px; ">

                    <!-- /.box-header -->
                    <div class="box-body ">
                      <div class="table-responsive ">
                        <table class="table no-margin ">
                          <thead>
                            <tr>
                              <th class='text-gray1'>{{'day'|translate}}</th>
                              <th class='text-gray1'>Min temp</th>
                              <th class='text-gray1'>Max temp</th>
                              <th class='text-gray1'>{{'precip'|translate}}</th>
                              <th class='text-grey1'>{{'humidity'|translate}}</th>
                              <th class='text-gray1'>{{'wind'|translate}}</th>
                              <th class='text-gray1'></th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor='let day of days'>
                              <td>{{day.day|translate}}</td>
                              <td class='text-light-blue'>{{day.minTemp}}&deg;C</td>
                              <td class='text-yellow'>{{day.maxTemp}}&deg;C</td>
                              <td class='text-aqua'>{{day.precip}}</td>
                              <td>{{day.humidity}}</td>
                              <td>{{day.windSpeed}} <img [src]='day.windImage' style="width: 22px "></td>
                              <td><img [src]='day.icon' style="width: 25px "></td>
                              <!-- <td><span class="label label-success ">Shipped</span></td>
                              <td>
                                <div class="sparkbar " data-color="#00a65a " data-height="20 ">90,80,90,-70,61,-83,63</div>
                              </td>-->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                  </div>
                  <!-- /.box -->
                </tab>

                <tab title="{{ 'pastDays' | translate}} ">
                  <!-- TABLE: LATEST ORDERS -->
                  <div class="box box-info " style="border-top:none; height: 300px; ">

                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div id="myDiv2" style="width:100%; height:280px "></div>
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                  </div>
                  <!-- /.box -->
                </tab>



              </tabset>

            </div>
          </div>


          <div style="height: 20px; "></div>
        </div>
      </div>

    </div>




  </div>
</section>